<ion-view view-title="My Friends">
  <ion-content scroll="true">

  <div ng-show="!friends.friendships.length">
    <center>
      <h4>You have no friends yet. :(</h4>
      <h4>Find them in <b>Add Friends</b> in the sidebar!</h4>
    </center>
  </div>

  <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
  </ion-refresher>

  	<div class="list" style="height:100%">
    	<ion-list scroll="true">
      	<ion-item auto-list-divider
          class="item item-avatar"
          auto-list-divider-value="{{ friend.username }}"
          auto-list-divider-class="friends"
      		ng-repeat="friend in friends.friendships">
          <img src="{{ friend.avatar }}">
        	<h2>{{ friend.username }}</h2>
      	</ion-item>
    	</ion-list>
		</div>

    
  </ion-content>
</ion-view>
