<ion-view view-title="My Friends">
  <ion-content class="padding" scroll="true">

  <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
  </ion-refresher>

  	<div class="list" style="height:100%">
    	<ion-list scroll="true">
      	<ion-item auto-list-divider
          class="item item-avatar"
          auto-list-divider-value="{{ friend.username }}"
          auto-list-divider-class="friends"
      		ng-repeat="friend in friends.friendships">
          <img src="{{ friend.avatar }}">
        	<h2>{{ friend.username }}</h2>
      	</ion-item>
    	</ion-list>
		</div>
  </ion-content>
</ion-view>
