<ion-view view-title="Added Me">
  <ion-content scroll="true">

  <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
  </ion-refresher>

    <div id="no-requests" style="display: none">
      <center><h4>You don't have any friend requests :(</h4></center>
    </div>
    <ion-list>
      <ion-item ng-repeat="request in friendRequests.requests" ng-click="respondToRequest(request)">
        <h2>{{ request.username }}</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
