<ion-header-bar class="bar bar-calm">
  <h1 class="title">Login</h1>
  <div class="button button-clear" ng-click="login.hide()"><span class="icon ion-close"></span></div>
</ion-header-bar>
<ion-content scroll="false">
  <form name="loginForm" novalidate>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Username</span>
        <input type="text" placeholder="Username" ng-model="data.loginUsername" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password" ng-model="data.loginPassword" ng-minlength="8" required>
      </label>
    </div>

    <div class="padding">
      <button
        ng-disabled="loginForm.$invalid"
        class="button button-block button-calm"
        ng-click="loginUser()">
        Login
      </button>
    </div>
  </form>
</ion-content>
