<ion-header-bar class="bar bar-calm">
  <h1 class="title">Login</h1>
  <div class="button button-clear" ng-click="login.hide()"><span class="icon ion-close"></span></div>
</ion-header-bar>
<ion-content scroll="false">
  <form name="loginForm" novalidate>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Phone Number</span>
        <input type="tel" placeholder="Phone Number" ng-model="data.loginPhoneNumber" required>
      </label>
    </div>
    <div class="padding">
      <button
        ng-disabled="loginForm.$invalid"
        class="button button-block button-calm"
        ng-click="loginUser()">
        Login
      </button>
    </div>
  </form>
</ion-content>
