<ion-header-bar class="bar bar-calm">
  <h1 class="title">Sign Up</h1>
  <div class="button button-clear" ng-click="signup.hide()"><span class="icon ion-close"></span></div>
</ion-header-bar>
<ion-content>
  <form name="signupForm" novalidate>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="email" placeholder="Email" ng-model="data.email" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Username</span>
        <input type="text" placeholder="Username" ng-model="data.signupUsername" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password" ng-model="data.signupPassword" ng-minlength="8" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password Confirmation</span>
        <input type="password" placeholder="Password Confirmation" ng-model="data.password_confirmation" ng-minlength="8" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Phone Number</span>
        <input type="tel" placeholder="Phone Number" ng-model="data.phone_number" required>
      </label>
    </div>
    <div class="padding">
      <button
        ng-disabled="signupForm.$invalid"
        class="button button-block button-calm"
        ng-click="signupUser()">
        Sign Up
      </button>
    </div>
  </form>
</ion-content>

