<ion-side-menus>
  <ion-side-menu side="left" width="250">
    <ion-content>
      <img ng-src="{{ profilePicture }}">
      <ion-list>
        <ion-item menu-close href="#/app/halfway">
          Halfway
        </ion-item>
        <ion-item menu-close href="#/app/account">
          <i class="ion-person"></i> Profile
        </ion-item>
        <ion-item menu-close href="#/app/add_friends">
          <i class="ion-person-add"></i> Add Friends
        </ion-item>
        <ion-item menu-close href="#/app/friends">
          <i class="ion-person-stalker"></i> My Friends
        </ion-item>
        <ion-item menu-close href="#/app/requests">
           <i class="fa fa-smile-o"></i> Added Me
        </ion-item>
        <ion-item ng-click="logout()">
           Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-calm">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
</ion-side-menus>
