<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-view view-title="Halfway">
  <ion-nav-bar class="bar-calm">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
      <div class="button button-clear" ng-click="settings.show()">
        <span class="icon ion-gear-a"></span>
      </div>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content scroll="false">
    <ion-nav-view name="content">
      <tab-slide-box tab="0">
        <div class="tsb-icons">
            <div class="tsb-ic-wrp">
                <a href="javascript:;" class="ion-ios-location"></a>
                <a href="javascript:;" class="ion-ios-calendar"></a>
            </div>
        </div>
        <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
            <ion-slide>
              <div ng-include="'components/halfway/halfway.html'" ng-controller="HalfwayCtrl"></div>
            </ion-slide>
            <ion-slide>
              <div ng-include="'components/events/events.html'" ng-controller="EventsCtrl"></div>
            </ion-slide>
        </ion-slide-box>
      </tab-slide-box>
    </ion-nav-view>
  </ion-content>
</ion-view>

<script id="settings.html" type="text/ng-template">
  <div class="modal">
    <div ng-include="'components/settings/settings.html'"></div>
  </div>
</script>

