<ion-view view-title="Halfway">
  <ion-content class="padding" scroll="false">
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Let's grab coffee :D" ng-model="data.description">
      </label>
    </div>

    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Category
        </div>
        <select id="selectionList">
          <option>Bar</option>
          <option>Boba</option>
          <option>Chinese</option>
          <option>Coffee</option>
          <option selected>Food</option>
          <option>Indian</option>
          <option>Japanese</option>
          <option>Korean</option>
          <option>Mall</option>
          <option>Movie</option>
          <option>Park</option>
          <option>Restaurant</option>
          <option>Vietnamese</option>
        </select>
      </label>
    </div>

    <div class="list">
      <label class="item item-input">
        <span class="input-label">Date</span>
        <input type="date" ng-model="data.date">
      </label>
      <label class="item item-input">
        <span class="input-label">Time</span>
        <input type="time" ng-model="data.time">
      </label>
    </div>

    <div class="list">
      <ion-list>
        <ion-checkbox ng-repeat="friend in friends.friendships" ng-click="toggleFriend(friend)">
          <h2>{{ friend.username }}</h2>
        </ion-checkbox>
      </ion-list>

      <div class="bar bar-assertive" ng-click="createHalfwayEvent()">
        <div class="title">Halfway</div>
      </div>
    </div>

  </ion-content>
</ion-view>
