<ion-view view-title="Halfway">
  <ion-content scroll="true">

    <div ng-show="!friends.friendships.length">
      <center>
        <h4>You have no friends yet. :(</h4>
        <h4>Find them in <b>Add Friends</b> in the sidebar!</h4>
      </center>
    </div>

    <ion-scroll ng-show="!friends.friendships.length" direction="y" style="height: 45%">
      <div class="list">
      </div>
    </ion-scroll>
  
    <ion-scroll ng-show="friends.friendships.length" direction="y" style="height: 55%">
      <div class="list">
        <ion-checkbox auto-list-divider
          auto-list-divider-value="{{ friend.username }}"
          auto-list-divider-class="halfway"
          ng-repeat="friend in friends.friendships"
          ng-click="toggleFriend(friend)">
          <h2>{{ friend.username }}</h2>
        </ion-checkbox>
      </div>
    </ion-scroll>
  

    <div class="list" style="height: 35%">
      <label class="item item-input">
        <div class="input-label">
          Description
        </div>
        <input type="text" placeholder="Let's grab coffee :D" ng-model="data.description">
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Category
        </div>
        <select id="selectionList">
          <option>Bar</option>
          <option>Boba</option>
          <option>Chinese</option>
          <option>Coffee</option>
          <option selected>Food</option>
          <option>Indian</option>
          <option>Japanese</option>
          <option>Korean</option>
          <option>Mall</option>
          <option>Movie</option>
          <option>Park</option>
          <option>Restaurant</option>
          <option>Vietnamese</option>
        </select>
      </label>
      <label class="item item-input">
        <div class="input-label">
          Date
        </div>
        <input type="date" ng-model="data.date">
      </label>
      <label class="item item-input">
        <div class="input-label">
          Time
        </div>
        <input type="time" ng-model="data.time">
      </label>
    <div>
    <div class="list">
      <div class="bar bar-calm" ng-click="createHalfwayEvent()">
        <div class="title">Halfway</div>
      </div>
    </div>
  </ion-content>
</ion-view>
