<ion-view view-title="Halfway">
  <ion-content scroll="false">
    <ion-scroll direction="y" style="height: 50%">
      <div class="list">
        <ion-checkbox
          auto-list-divider
          ng-repeat="friend in friends"
          ng-click="toggleFriend(friend)"
          auto-list-divider-value="{{ friend.name }}"
          auto-list-divider-class="halfway">
          <h2>{{ friend.name }}</h2>
        </ion-checkbox>
      </div>
    </ion-scroll>

    <div class="list" style="height: 40%">
      <label class="item item-input">
        <div class="input-label">
          Description
        </div>
        <input type="text" keyboard-attach placeholder="Let's grab coffee :D" ng-model="data.description">
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Category
        </div>
        <select id="selectionList">
          <option>Bar</option>
          <option>Boba</option>
          <option>Chinese</option>
          <option>Coffee</option>
          <option selected>Food</option>
          <option>Indian</option>
          <option>Japanese</option>
          <option>Korean</option>
          <option>Mall</option>
          <option>Movie</option>
          <option>Park</option>
          <option>Restaurant</option>
          <option>Vietnamese</option>
        </select>
      </label>
      <label class="item item-input">
        <div class="input-label">
          Date
        </div>
        <input type="date" keyboard-attach ng-model="data.date">
      </label>
      <label class="item item-input">
        <div class="input-label">
          Time
        </div>
        <input type="time" keyboard-attach ng-model="data.time">
      </label>
    <div>
    <div class="list">
      <div class="bar bar-calm" ng-click="createHalfwayEvent()">
        <div class="title">Halfway</div>
      </div>
    </div>
  </ion-content>
</ion-view>
