<ion-view name="entry-view" hide-nav-bar="true">
  <ion-content scroll="false">
    <div class="padding col-50 col-offset-25">
      <h1 class="energized">Halfway</h1>
    </div>
    <div id="entry-buttons" class="padding col-33 col-offset-33">
      <button class="button button-circle button-energized" ng-click="showLogin()">
        <i class="icon ion-person" alignment="center"></i>
      </button>
    </div>
    <div id="entry-buttons" class="padding col-33 col-offset-33">
      <button class="button button-circle button-energized" ng-click="showSignup()">
        <i class="icon ion-plus-round"></i>
      </button>
    </div>
  </ion-content>
</ion-view>
