<ion-view name="entry-view" hide-nav-bar="true">
  <ion-content class="gradient" scroll="false">
    <br>
    <br>
    <div id="logo-container">
      <img ng-src="./assets/img/HalfwayLogoTransparent.png" id="entry-logo">
    </div>
    <br>
    <br>
    <div id="entry-buttons" class="padding col-33 col-offset-33">
      <button class="button button-circle button-light" ng-click="showLogin()">
        <i class="icon ion-person" alignment="center"></i>
      </button>
    </div>
    <div id="entry-buttons" class="padding col-33 col-offset-33">
      <button class="button button-circle button-light" ng-click="showSignup()">
        <i class="icon ion-plus-round"></i>
      </button>
    </div>
  </ion-content>
</ion-view>
