<ion-view view-title="Profile">
  <ion-content class="padding" scroll="false">
    <div class="list card">
      <div class="item item-divider">
        User Information
      </div>
      <p class="item item-icon-left">
        <i class="icon ion-person"></i>
        {{ current_user.username }}
      </p>
      <p class="item item-icon-left">
        <i class="icon ion-email"></i>
        {{ current_user.email }}
      </p>
    </div>
  </ion-content>
  <ion-content ng-init="initialize()" scroll="false">
    <div id="map" data-tap-disabled="true"></div>
  </ion-content>
</ion-view>
