<ion-view view-title="{{ event.event.description }}" hide-nav-bar="false">
  <ion-content>
    <div class="item item-thumbnail-left">
      <h2>{{ event.meeting_point}}</h2>
        {{ event.address }} <br>
        {{ event.date | date:'short' }}
    </div>
    <br>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>
    <div class="list">
      <ion-scroll style="height: 200px;">
        <ion-item ng-repeat="friend in event.friends" class="item item-avatar">
          {{ friend.phone_number }}
          <span class="item-note">{{ message[rsvpBool[friend.id]] }}</span>
        </ion-item>
      </ion-scroll>
    </div>
    <ion-toggle ng-model="rsvp" toggle-class="toggle-calm" ng-click="changeRsvp()">
      Going?
    </ion-toggle>
  </ion-content>
</ion-view>

