<ion-view view-title="Events">
  <ion-content scroll="false" padding="true">

  <div class="list" style="height:100%">
    <ion-content scroll="true">
      <ion-item auto-list-divider
        auto-list-divider-value="{{ event.date | date:'mediumDate' }}"
        auto-list-divider-function="dividerFunction"
        ng-repeat="event in events.events"
        ng-click="showDetails(event)">
        <h2>{{ event.description }}</h2>
          <p>{{ event.date | date:'shortTime' }}</p>
      </ion-item>
    </ion-content>
  </div>

  </ion-content>
</ion-view>
