<ion-view view-title="My Account">
  <ion-content class="padding">
    <img ng-src="{{ avatar }}" id="avatar" width="250 " height="250" style="display: block; margin: 0 auto;"/><br/>
    <div class="list card">
      <div class="item item-divider">
        User Information
      </div>
      <p class="item item-icon-left">
        <i class="icon ion-person"></i>
        {{ current_user.username }}
      </p>
      <p class="item item-icon-left">
        <i class="icon ion-email"></i>
        {{ current_user.email }}
      </p>
    </div>
    <button class="button button-block button-calm" ng-click="upload()">
      Update Profile Picture
    </button>
  </ion-content>
</ion-view>
